<div>
  <input type="text" [(ngModel)]="chat.nickname">
  <button (click)="registrazione()">Registrazione</button>
</div>
<br>
<div>

  <input type="text" [(ngModel)]="messaggio">
  <button (click)="inviaATutti()">Invia a tutti</button>
</div>

<br>
<text>Contatti</text>
<table>
  <tr>
    <th>Id</th>
    <th>Nickname</th>
    <th>Sessione</th>
    <th>Invia</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><button (click)="inviaAUno()">Invia A Uno</button></td>
  </tr>
</table>
<br>
<br>
<text>Messaggi Ricevuti</text>
<button (click)="aggiorna()">Aggiorna</button>
<br>
<table>
  <tr>
    <th>Id</th>
    <th>Testo</th>
    <th>Destinatario</th>
    <th>Mittente</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>