<div>
  <input type="text" [(ngModel)]="chat.nickname">
  <button (click)="registrazione()">Registrazione</button>
</div>
<br>
<div>

  <input type="text" [(ngModel)]="messaggio">
  <button (click)="invia()">Invia a tutti</button>
</div>

<br>
<text>Contatti</text>
<table>
  <tr>
    <th>Column0</th>
    <th>Column1</th>
    <th>Column2</th>
    <th>Column3</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><button (click)="invia()">Invia</button></td>
  </tr>
</table>
<br>
<br>
<text>Messaggi Ricevuti</text>
<button (click)="aggiorna()">Aggiorna</button>
<br>
<table>
  <tr>
    <th>Column0</th>
    <th>Column1</th>
    <th>Column2</th>
    <th>Column3</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>