<div>
  <input type="text" [(ngModel)]="chat.nickname">
  <button (click)="registrazione()">Registrazione</button>
</div>
<br>
<div>

  <input type="text" [(ngModel)]="messaggioDaInviare">
  <button (click)="inviaATutti()">Invia a tutti</button>
</div>

<br>
<text>Contatti</text>
<table *ngFor="let c of contatti">
  <tr>
    <th>Id</th>
    <th>Nickname</th>
    <th>Sessione</th>
    <th>Invia</th>
  </tr>
  <tr>
    <td>{{c.id}}</td>
    <td>{{c.nickname}}</td>
    <td>{{c.sessione}}</td>
    <td><button (click)="inviaAUno()">Invia A Uno</button></td>
  </tr>
</table>
<br>
<br>
<text>Messaggi Ricevuti</text>
<button (click)="aggiorna()">Aggiorna</button>
<br>
<table *ngFor="let a of messaggi">
  <tr>
    <th>Id</th>
    <th>Testo</th>
    <th>Destinatario</th>
    <th>Mittente</th>
  </tr>
  <tr>
    <td>{{a.id}}</td>
    <td>{{a.testo}}</td>
    <td>{{a.aliasDestinatario}}</td>
    <td>{{a.aliasMittente}}</td>
  </tr>
</table>

<!-- id = null;
    testo = "";
    aliasDestinatario = "";
    aliasMittente = ""; -->